.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;  /* Set navbar to fixed position */
  top: 0;           /* Position navbar at top of the page */
  width: 100%;
  height: 120px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  z-index: 1;
  color: #FFFFFF;
  font-size: 32px;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.fas.fa-angle-double-down {
  color: orangered;
}