article.tweet {
  border: 4px solid gray;
  margin: 1em 0;
  transition: 0.5s;
}

/* Show box shadow when hovered over */
article.tweet:hover {
  box-shadow: 5px 10px darkgray;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0 10px;
}

article.tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet div img {
  margin-right: 15px;
}

article.tweet div.tweet-content{
  border-bottom: 3px solid gray;
  padding: 1em;
  margin: 0 10px;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin: 0 10px;
}

/* Space out the icons and give it a color transition time for hover */
article.tweet footer div i {
  padding: 6px;
  transition: 0.3s;
}

/* Change color when hovering over icon */
article.tweet footer div i:hover {
  color: orangered;
}